.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28vw;
}

.register-form-footer {
  width: 90%;
}

.login-screen-link {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54)
}

.login-screen-link a {
  color: #2A00FF;
}

.error-message {
  color: #f00;
}
