.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  border-radius: 15px;
  background-color: #fff;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.modal-content {
  margin: auto 30px;
  display: flex;
  align-items: center;
  height: 80%;
}

.modal-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 10px 30px;
}

.modal-button {
  background-color: #ccc;
  cursor: pointer;
  margin-left: 10px;
  bottom: 0px;
}

.modal-cancel-button {
  background-color: rgb(224, 122, 122);
  box-shadow: -2px 2px rgba(224, 112, 122, 0.3);
}

.modal-confirm-button {
  background-color: rgb(122, 224, 122);
  box-shadow: -2px 2px rgba(122, 224, 122, 0.3);
}
