.options-menu {
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    margin: 1% 0;
    border-radius: 30px;
    padding: 2%;
}

.filter-icon {
    font-size: 50px;
}

.filter {
    display: flex;
    align-items: center;
}

.filter-options {
    display: grid;
    grid-template-columns: 50% 50%;
}

.side-buttons {
    display: flex;
    flex-direction: column;
}

.side-buttons > * {
    margin: 2px 0;
}